@model Dish
<style>
    .new-dish {
        font-size: 20px;
        margin-left: 700px;
    }
</style>
<h1><a href="/">Chefs</a> | Dishes <a asp-action="NewDish" class="new-dish btn btn-primary">Add a Dish</a></h1>
<h2>Yum, take a look at our tasty dishes!</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Chef</th>
            <th scope="col">Tastiness</th>
            <th scope="col">Calories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dish in ViewBag.AllDishes)
        {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Chef.FirstName @dish.Chef.LastName</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
    </tbody>
</table>